<mat-toolbar>
    <span routerLink="home" class="navbar-title">Trivia</span>
    <div class="spacer"></div>
    <a mat-stroked-button routerLink="login">Login</a>
    <a mat-raised-button color="accent" routerLink="signup">Sign Up</a>
    <!-- <app-avatar [matMenuTriggerFor]="menu"></app-avatar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="login">Login</button>
        <div mat-menu-item><button mat-raised-button color="accent" routerLink="signup">Sign Up</button></div>
    </mat-menu> -->
</mat-toolbar>
