// @import "~@angular/material/theming";
// @import './../../styles.scss';

// $color-accent: mat-color($trivia-quiz-accent);
.mat-toolbar {
    background: none;
    gap: .5rem;
}
.navbar-title {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}