<form class="signup-container" (submit)="onSubmit()">
    <h1>Login</h1>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" required />
      <mat-error *ngIf="password.invalid">{{ getErrorMessage(password) }}</mat-error>
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent" [disabled]="email.invalid || password.invalid || loading">Sign In</button>
    <mat-divider *ngIf="!loading"></mat-divider>
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <a type="button" mat-stroked-button routerLink="/signup">Don't have an account? Sign up</a>
</form>